@charset "UTF-8";

.set {
  display: inline-block;
  margin-right: 6px;
  font-family: $helvetica;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  background: $text;
  border-radius: 2px;
  outline: none;
  .set-label,
  .set-count {
    padding: unpack(3px 8px);
  }
  .set-label {
    float: left;
    border-radius: 2px 0 0 2px;
  }
  .set-count {
    float: right;
    background-color: rgba(black, .25);
    border-radius: 0 2px 2px 0;
  }

  &:hover {
    background-color: $blue;
  }

  &.active,
  &.active:hover {
    background-color: $green;
  }
}
